/*
Layout
*/
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-justify-center{
	display: flex;
	justify-content: center;
	align-items: center;
}
.flex-justify-left{
	display: flex;
	justify-content: left;
	align-items: center;
}
.flex-justify-space{
	display: flex;
	justify-content: space-evenly;
}
.viewport-container{
	height: 100vh;
	width: : 100vw;
}

/*GRID*/
.grid-layout-default{
	display: grid;
	grid-template-columns: 1/2;
	grid-template-rows: 5% 1fr 5%;
	height: 100%;
}
.grid-layout-8{
	display: grid;
	height: 100%;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
}
.grid-top-navbar{
	grid-row: 1/8;
	grid-column: 1/8;
}
.grid-bottom-footer{
	grid-row: 8/8;
	grid-column: 1/8;
}
.grid-headline{
	grid-row: 3/6;
	grid-column: 2/7;
}
.grid-card{
	grid-row: 6/6;
	grid-column: 3/6;
}
