/*
UTILITY
*/
.margin-30{
	margin: 30px;
}
.box-300-px-1{
	height: 300px;
	width: 300px;
}
.box-150-px-1{
	height: 150px;
	width: 150px;
}
.container-80{
	width: 80%;
}
.border-1px{
	border: solid 1px #000000;
}
.padding-30{
	padding: 30px;
}

/*Base html tags*/

body{
	margin: 0px;
}
li,
ul,
ol{
	list-style: none;
	padding-left: 0;
}
a{
	color: #00659c;
	text-decoration: none;
	cursor: pointer;
	outline: 0;
}
a:visited{
	text-decoration: none;
}
